In [2]:
import pandas as pd

In [4]:
# Import dataset
cleaned_decision_scores = pd.read_csv('cleaned_talent_decision_scores.csv', sep=',', header='infer')
cleaned_decision_scores.head()

,name,date,strengths,weaknesses,self_development,geo_flex,financial_support_self,result,course_interest,tech_self_score_CSharp,tech_self_score_Java,tech_self_score_R,tech_self_score_JavaScript,tech_self_score_Python,tech_self_score_C++,tech_self_score_Ruby,tech_self_score_SPSS,tech_self_score_PHP
0,Stillmann Castano,2019-08-22,Charisma,"Distracted, Impulsive, Introverted",True,True,True,Pass,Business,6.0,5.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN
1,Hilary Willmore,2019-08-01,"Patient, Curious, Problem Solving","Overbearing, Chatty, Indifferent",False,True,True,Fail,Data,4.0,2.0,NaN,NaN,1.0,4.0,NaN,NaN,NaN
2,Efrem Whipple,2019-08-22,"Courteous, Independent, Patient","Introverted, Impulsive, Anxious",True,True,True,Pass,Business,NaN,NaN,NaN,NaN,NaN,4.0,4.0,NaN,NaN
3,Sydel Fenne,2019-08-28,Passionate,"Perfectionist, Sensitive",True,True,True,Pass,Data,NaN,3.0,NaN,NaN,NaN,NaN,NaN,4.0,NaN
4,Michel Lebarree,2019-08-07,Versatile,"Controlling, Perfectionist, Chatty",True,True,True,Pass,Engineering,NaN,4.0,2.0,NaN,3.0,3.0,1.0,NaN,2.0

In [6]:
df = cleaned_decision_scores

### Strengths

In [7]:
# Get all strengths into a list
all_strengths = []
for row in df['strengths'].dropna():
    all_strengths.extend([s.strip() for s in row.split(',')])

In [8]:
# make unique strengths with IDs
strengths_df = pd.DataFrame({
    "strength_id": range(1, len(set(all_strengths)) + 1),
    "strength_name": list(set(all_strengths))
})

In [10]:
strengths_df

    strength_id      strength_name
0             1           Rational
1             2            Patient
2             3           Creative
3             4         Innovative
4             5  Critical Thinking
5             6          Courteous
6             7          Ambitious
7             8        Competitive
8             9       Organisation
9            10         Determined
10           11        Independent
11           12          Listening
12           13      Perfectionism
13           14         Passionate
14           15          Efficient
15           16            Curious
16           17    Problem Solving
17           18         Consistent
18           19          Versatile
19           20      Collaboration
20           21            Empathy
21           22           Altruism
22           23           Charisma
23           24          Composure
24           25           Reliable

### Weaknesses

In [14]:
# Get all weaknesses into a list
all_weaknesses = []
for row in df['weaknesses'].dropna():
    all_weaknesses.extend([s.strip() for s in row.split(',')])

In [17]:
# Make unique weaknesses with IDs
weaknesses_df = pd.DataFrame({
    "weakness_id": range(1, len(set(all_weaknesses)) + 1),
    "weakness_name": list(set(all_weaknesses))
})

In [18]:
weaknesses_df

    weakness_id    weakness_name
0             1        Impulsive
1             2         Stubborn
2             3             Slow
3             4      Introverted
4             5           Chatty
5             6      Competitive
6             7          Chaotic
7             8          Passive
8             9          Anxious
9            10     Conventional
10           11  Procrastination
11           12      Indifferent
12           13        Sensitive
13           14    Perfectionist
14           15          Selfish
15           16       Distracted
16           17        Impatient
17           18         Immature
18           19       Intolerant
19           20         Critical
20           21    Undisciplined
21           22      Overbearing
22           23       Indecisive
23           24      Controlling

### Skills

In [23]:
# Get all skill column names
skill_columns = [col for col in df.columns if col.startswith("tech_self_score")]

# Clean them up to be just skill names
skill_names = [col.replace("tech_self_score_", "") for col in skill_columns]

# Create a skills table
skills_df = pd.DataFrame({
    "skill_id": range(1, len(skills_df) + 1),
    "skill_name": skill_names 
})

# Re

print(skills_df)

   skill_id  skill_name
0         1      CSharp
1         2        Java
2         3           R
3         4  JavaScript
4         5      Python
5         6         C++
6         7        Ruby
7         8        SPSS
8         9         PHP